body {
    margin: 0px;
}
:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 0.2);
}
.navbar {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #0A2647;
    -webkit-box-shadow: 1px 7px 35px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 35px 7px rgba(0,0,0,0.75);
    box-shadow: 1px 7px 35px 7px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0px;
}
.logo {
    color: #2C74B3;
    font-family: Gotham;
    font-weight: 450;
}
.navbtt {
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbtt h1 {
    font-family: gotham;
    color:white;
    font-size: 20px;
    font-weight: 100;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 5px;
}
.login {
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginbutton {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 15px;
    background-color: #144272;
    color: white;
    font-family: gotham;
    font-weight: 100;
    cursor: pointer;
}
.container-1 {
    width: 100%;
    height: 100%;
    min-width: 1280px;
    margin-top: 60px;
    overflow: hidden;
}
.buy-car-background {
    background-image: url("blueblue.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buy-info {
    width: 40rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.buy-info h1 {
    color: white;
    font-family: Gotham;
    font-size: 56px;
    text-shadow: 0px 3px 9px rgba(0,0,0,0.81);
}
.buy-info h2 {
    color: grey;
    font-family: Gotham;
    text-shadow: 0px 3px 9px rgba(0,0,0,0.81);
}
.line {
    border: 0;
    height: 1px;
    width: 40rem;
    background: #333;
    background-image: linear-gradient(to right, #000, #222, #000);
}
.btt {
    height: 50px;
    width: 300px;
    border: 0px;
    font-size: 24px;
    background: rgb(20,66,114);
    background: radial-gradient(90deg, rgba(20,66,114,1) 0%, rgba(32,93,149,1) 49%, rgba(20,66,114,1) 100%);
    color: white;
    border-radius: 15px;
    font-family: gotham;
    cursor:pointer;
}
.btt:hover {
    color: grey;
    background: rgb(20,66,114);
    background: linear-gradient(90deg, rgba(20,66,114,1) 0%, rgba(32,93,149,1) 49%, rgba(20,66,114,1) 100%);
    transition: all ease-in 0.3s 0s;
}
.sell-car-background {
    background-image: url("blueblueother.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.line-2 {
    margin:0px;
    background-color: grey;
    border: 5px solid grey
}
.info-about {
    margin: 0px;
    background-color: #144272;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5rem
}
.info-box {
    color: white;
    font-family: gotham;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 3px 9px rgba(0,0,0,0.81);
}
.info-box p {
    color: rgb(148, 146, 146);
    font-size: 20px;
    font-family: gotham;
    text-shadow: 0px 3px 9px rgba(0,0,0,0.81);
}
.logo-box {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    /* -webkit-box-shadow: -5px 5px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 5px 5px 3px rgba(0,0,0,0.75);
    box-shadow: -5px 5px 5px 3px rgba(0,0,0,0.75); */
    margin-left: 10px;
}
.find-by-type {
    background-color: #0A2647;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.find-by-type-text {
    color: white;
    font-family: gotham;
    font-weight: 100;
}
.type-container {
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-type {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: Gotham;
}
.type-image {
    width: 60%;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.type-image img {
    width: 90%
}
.car-type h1 {
    font-size: 16px;
    text-decoration: none;
}
.finder-container {
    background-image: url('pexels-kelly-2402235.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}
.finder-text-container {
    background-color: #0A2647;
    width: 450px;
    margin-top: 10px;
    text-align: center;
    border: 3px solid black;
    color: white;
    font-family: Gotham;
}
.finder-container h1 {
    font-size: 32px;
    font-family: gotham;
    color: white;
}
.finder {
    background-color: white;
    width: 50%;
    display: flex;
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 20px;
}
.finder-labels {
    font-family: gotham;
    margin: 3px;
    font-size: 18px;
    color:#0A2647 ;
}
.finder select {
        width: 250px;
        height: 50px;
        margin: 3px;
        border: 0px;
        border-bottom: 3px solid #144272;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        text-align:left;
        font-size: 16px;
    
}
.finder input[type='number'] {
    width: 250px;
    height: 50px;
    margin: 3px;
    border: 0;
    border-bottom: 3px solid #144272;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
}
.finder input[type='number']:focus {
    outline: none;
}
.finder input[type='checkbox'] {
    display: none;
}
.container-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:1rem
}

.years {
    display: flex;
    justify-content: center;
    align-items: center;
}

.finder select:focus {
    outline: none;
}
.link  {
    text-decoration: none;
}
.link h1 {
    text-decoration: none;
}
.results-container {
    background-color: #0A2647;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}
.results-container h1 {
    color: white;
    font-family: gotham;
}
.results-container-2 {
    background-color: white;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.toolbar-container {
    background-color: white;
    width: 70%;
    border-radius: 15px;
}
.car-tile {
    width: 30%;
    height: 500px;
    aspect-ratio: 1/1;
    margin: 10px;
    background-color: #cbd2da;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.car-image {
    width: 90%;
    height: 150px;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    margin: 10px;

}
.car-image img {
    width: 100%;
    border-radius: 15px
}
.car-info {
    width: 90%;
    margin-top: 10px;
}
.car-info h1 {
    color: #144272;
    font-family: Gotham;
}
.car-info h2 {
    font-family: Gotham;
    color: #0A2647
}
.car-info h3 {
    font-family: Gotham;
    font-size: 12px
}
.more-info-btt {
    position: static;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 50px;
    background-color: #410b07;
    border: 0;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: Gotham;
    margin: 5px;
    cursor: pointer;
}
.sorter {
    width: 150px;
    height: 30px;
    margin: 10px;
    border: 0px;
    border-bottom: 3px solid #144272;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align:left;
    font-size: 14px;
    font-family: gotham;
    outline: none;
}
.type-switcher {
    height: 48px;
    margin: 10px;
    border: 0px;
    border-bottom: 3px solid #144272;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align:left;
    font-size: 14px;
    font-family: gotham;
    background-color: #0A2647;
    color: white;
    outline: none;
    font-size: 32px;
}
.type-switcher-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.type-switcher-text h1 {
    font-size: 32px;
}
#sedan-select, #suv-select, #coupe-select, #hatchback-select, #sport-select {
    cursor: pointer;
}
.container-car-page {
    background-color: #0A2647;
    display:flex;
    justify-content: center;
    padding: 20px;
}
.info-container {
    background-color: #233b4e;
    width: 95%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.car-img-container {
    aspect-ratio: 16/9;
    width: 45%;
    margin: 10px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-info-container {
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.car-title {
    font-family: gotham;
    color: white;
    font-size: 48px;
    margin: 0;
}
.car-info-container h3 {
    margin: 0px;
    color:#646262;
    font-family: gotham;
    font-weight: 300;
    font-size: 16px
}
.user {
    display: flex;
    gap: 5px;
}
.car-description {
    width: 95%;
    background-color: #0A2647;
    height: 50%;
    margin-left: 2.5%;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.car-description-title {
    color: white;
    font-family: Gotham;
    font-size: 24px;
}
.description-container {
    width: 95%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.description-pill {
    background-color: #144272;
    width: 45%;
    height: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 3px;
    overflow: hidden;
}
.description-small-title {
    font-size: 12px;
    margin: 0;
    font-family: Gotham;
    color: rgb(201, 200, 200);
    font-weight: 100;
    margin-left: 10px;
}
.description-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.description-info-container h1 {
    margin: 0;
    font-family: Gotham;
    font-size: 36px;
    color: white;
}
.description-info-container-price h1 {
    margin: 0;
    font-family: Gotham;
    font-size: 36px;
    color: white;
}
.description-info-container-price {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}
.contact-button {
    width: 40%;
    height: 15%;
    background-color: #144272;
    border: 0;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: gotham;
    cursor: pointer;
    font-weight: 100;
    margin-top: 20px;
    margin-left: calc(98% - 40%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-img-img {
    width: 95%
}
.similiar-cars-container {
    margin-top: 50px;
    width: 97%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.similiar-cars-container h1 {
    color:#0A2647;
    font-family: gotham;
}
.car-tiles-similar {
    display: flex;
    width: 70%;
}
.user-page-container {
    background-color: #0A2647;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-page-container-2 {
    background-color: #144272;
    width: 95%;
    border: 1px solid;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-info {
    width: 95%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    gap: 2rem
}
.user-details h1 {
    color: white;
    font-size: 64px;
    font-family: Gotham;
    margin-bottom: 0;
}
.user-details h3 {
    margin: 0;
    font-family: Gotham;
    font-weight: 100;
    font-size: 20px;
    color: grey;
}
.contact-user {
    margin-left: 55%;
    margin-top: 10%;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
}
.contact-user button {
    background-color: #2C74B3;
    border: 0;
    border-radius: 15px;
    height: 40px;
    color: white;
    font-family: Gotham;
    cursor: pointer;
    font-size: 20px;
}
.user-listings {
    background-color: white;
    width: 85%;
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-listings h1 {
    color:#0A2647;
    font-family: Gotham;
    font-size: 32px;
}
.car-tiles-listings {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}
.choose-us-container {
    background-color: #0A2647;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.choose-us-container h1 {
    font-family: Gotham;
    color: white;
}
.choose-us-info-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choose-info h1 {
    font-size: 20px;
    color: grey
}
.choose-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.choose-info h3 {
    text-wrap: wrap;
    font-family: Gotham;
    font-weight: 300;
    color:#636668;
    font-size: 18px;
}
.footer {
    background-color: #222;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quick-links h3 {
    color: white;
    font-family: Gotham;
}
.quick-links {

}
.quicklinks {
    text-decoration: none;
    color: white;
    font-family: Gotham;
    font-size: 18px;
}
.dev {
    color: grey;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    text-indent: 10px;
}
.dev-area {
    display: flex;
    align-items: center;
    gap: 5px;
}
.big-footer {
    background-color: #222;
    display: flex;
    flex-direction: column;
}
.linkaa {
    text-decoration: none;
    color: white
}
.sell-page-container {
    background-color: #144272;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.sell-window {
    background-color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-img-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}
.upload-img-preview {
    background-color: black;
    width: 40%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}
.upload-img-text h1 {
    color: #0A2647;
    font-family: Gotham;
    font-size: 48px;
}
.upload-img-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5rem
}
.upload-img-text button {
    background-color: #144272;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
    width: 40%;
    aspect-ratio: 5/1;
    font-family: Gotham;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: background-color 0.3s ease;
}
.upload-img-text button:hover {
    background-color: #0A2647;
    transition: background-color 0.3s ease;
}
.enter-car-info-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter-car-info-container h1 {
    color:#0A2647;
    font-family: Gotham;
    font-size: 40px;
}
.info-container1 {
    background-color: #e4dfdf;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.form-group {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.form-group input {
    width: 40%;
    aspect-ratio: 5/1;
    font-size: 32px;
    border:0;
    border-bottom: 5px solid #0A2647;
    background-color: inherit;
    outline: none;
    font-family: Gotham;
}
.form-submit-btt-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form-submit-btt-container button {
    background-color: #144272;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    border: 0;
    width: 30%;
    aspect-ratio: 5/1;
    font-family: Gotham;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: background-color 0.3s ease;
}
.form-submit-btt-container button:hover {
    background-color: #0A2647;
    transition: background-color 0.3s ease;
}